<div class="row">
  <div class="span6">
    <div class="box-title">
      Latest Hits
    </div>
    <div class="box-content">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>URL</th>
            <th>Count</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% @latest_hits.each do |hit| %>
            <tr>
              <td><%= hit[:url] %></td>
              <td><%= hit[:count] %></td>
              <td><%= hit[:date] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="span6">
    <div class="box-title">
      Latest Referrers
    </div>
    <div class="box-content">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>URL</th>
            <th>Count</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% @latest_referrers.each do |hit| %>
            <tr>
              <td><%= hit[:url] %></td>
              <td><%= hit[:count] %></td>
              <td><%= hit[:date] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>